section.mhl-settings-manager {
  span.mhl-reset-button {
    float: right;
    text-align: right;
    padding-right: 0.2em;
  }
  a[data-reset-for],
  a[data-reset-all],
  a[data-reset-group] {
    padding-left: 0.5em;
    transition: 0.5s ease-out all;
    text-shadow: var(--mhl-reset-text-shadow);
    &.disabled-blurry {
      filter: blur(2px);
      cursor: not-allowed;
    }

    &.disabled-hidden {
      opacity: 0;
      pointer-events: none;
    }

    &.disabled-transparent {
      opacity: 0.25;
      pointer-events: none;
    }
  }
  h3[data-group] {
    border-bottom: 1px solid var(--color-underline-header);
  }
  [data-setting-id] {
    // .mhl-settings-button {
    // padding-top: 0.2em;
    // padding-bottom: 0.2em;
    // }
    // .form-fields {
    //   max-width: 45%;
    // }
    input[type="color"] {
      max-width: 20%;
    }

    // button.mhl-setting-button {
      // height: var(--form-field-height);
      // line-height: calc(var(--form-field-height) - 4px);
    // }

    input[type="text"]:has(+ input[type="color"]):invalid {
      text-decoration: var(--mhl-text-error-decoration);
    }
  }
}

.mhl-dialog.mhl-reset-all {
  span.count-tooltip {
    font-weight: bold;
    text-decoration: underline;
  }
  table {
    width: 100%;
  }
  td {
    font-weight: bolder;
    // text-align: center;
    min-width: 15%;

    &.value-display {
      font-family: monospace;
      white-space: pre-wrap;
    }
    &.bool-true {
      color: var(--mhl-color-success);
    }
    &.bool-false {
      color: var(--mhl-color-failure);
    }
  }
}
