section.mhl-settings-manager {
  span.mhl-reset-all {
    float: right;
    text-align: right;
    padding-right: 0.2em;
  }
  a[data-reset-for],
  a[data-reset-all] {
    padding-left: 0.5em;
    transition: 0.5s ease-out all;
    text-shadow: var(--mhl-reset-text-shadow);
    &.disabled-blurry {
      filter: blur(2px);
      cursor: not-allowed;
    }

    &.disabled-hidden {
      opacity: 0;
      pointer-events: none;
    }

    &.disabled-transparent {
      opacity: 0.25;
      pointer-events: none;
    }
  }

  [data-setting-id] {
    // .mhl-settings-button {
    // padding-top: 0.2em;
    // padding-bottom: 0.2em;
    // }
    input[type="color"] {
      max-width: 20%;
    }

    input[type="text"]:has(+ input[type="color"]):invalid {
      text-decoration: var(--mhl-text-error-decoration);
    }
  }
}

.mhl-dialog.mhl-reset-all {
  span.count-tooltip {
    font-weight: bold;
    text-decoration: underline;
  }
  td {
    font-weight: bold;
    text-align: center;

  }
  td:is(.config-true, .has-default-true, .is-default-true) {
    color: var(--mhl-color-success);
  }
  td:is(.config-false, .has-default-false, .is-default-false) {
    color: var(--mhl-color-failure);
  }
}
