.pick-a-thing.dialog .dialog-buttons {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.pick-a-thing.dialog img {
  width: 40px;
  height: 40px;
  margin: auto 2px auto 2px;
}
.pick-a-thing.dialog button {
  display: flex;
  flex-direction: row;
  justify-content: left;
  padding: 0px;
  margin: 0px;
}
.pick-a-thing.dialog button span.item-name {
  text-align: left;
  margin: auto;
  margin-left: 2%;
}
.pick-a-thing.dialog button span.dupe-id {
  font-size: 0.7em;
  text-align: right;
  margin: auto;
  margin-right: 2%;
  color: var(--color-cool-3);
}